@import 'tailwindcss';

* {
  margin: 0;
}

.bg-custom {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.15'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.lato-thin {
  font-family: 'Lato', serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: 'Lato', serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: 'Lato', serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: 'Lato', serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: 'Lato', serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: 'Lato', serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: 'Lato', serif;
  font-weight: 900;
  font-style: italic;
}
